<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="signOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    
  </ion-fab>
<ion-grid>
  <ion-row *ngFor="let message of messages | async">
    <ion-col size="9" class="message" [offset]="message.myMsg ? 3 : 0"
    [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
    

    <b>{{ message.fromName }}</b><br>
    <span>{{ message.msg }}
    </span>
    <div class="time ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>

    </ion-col>
  </ion-row>
</ion-grid>


<!-- File upload progress bar -->
<div *ngIf="percentageVal | async as percentage">
  Cargando: {{ percentage | number }}%
  <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
</div>

<div *ngIf="trackSnapshot | async as snap">
  File size: {{ snap.totalBytes | formatFileSize }} 
  
  Data transfered: {{ snap.bytesTransferred | formatFileSize }}
</div>    

</ion-content>

  
<ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
  <ion-card-content>
    
     <ion-button color="primary" shape="round" size="medium">
      <ion-icon name="archive-outline"></ion-icon>
      <input type="file" (change)="uploadImage($event.target.files)" />
    </ion-button>
    
  </ion-card-content>
</ion-card>
<ion-row>
  <ion-col size="2" *ngFor="let photo of photoService.photos; index as position">
    <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
  </ion-col>
  </ion-row>

<ion-footer>
  
  <ion-toolbar color="light">

        <ion-input autoGrow="true" class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg" ></ion-input>
        <ion-buttons slot='end'>
          
          <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="photoService.addNewToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="watchPosition()">
          <ion-icon name="location-outline"></ion-icon>
         </ion-button>


        </ion-buttons>
      
        
      
    
  </ion-toolbar>
  
</ion-footer>